@import "tailwindcss";

@layer base {
    body {
        font-family: 'Poppins', sans-serif;
    }
}

@theme {
    --color-primary-50: #FFF8ED;
    --color-primary-100: #FFECCD;
    --color-primary-200: #FFD79A;
    --color-primary-300: #FFC067;
    --color-primary-400: #FFAA34;
    --color-primary-500: #FC8A06;
    /* Base Color */
    --color-primary-600: #E77D05;
    --color-primary-700: #C96D04;
    --color-primary-800: #A95B03;
    --color-primary-900: #874702;
    --color-primary-950: #5A2E01;

    --color-main: #03081F;

    --font-Poppins: 'Poppins',
        sans-serif;
}

@layer base {
    body {
        @apply font-Poppins
    }

    span, a {
        @apply inline-block
    }

    button, a {
        @apply cursor-pointer
    }
}

.container {
    margin: auto;
    width: 80%;
}

.swiper-pagination-bullet-active {
    background-color: #fff;

}

.swiper-button-next,
.swiper-button-prev {
    @apply size-12 rounded-full bg-primary-400/50 text-lg
}

.swiper-button-prev,
.swiper-button-next {

    ::slotted(svg),
    svg {
        pointer-events: none;
        font-size: 10px !important;
        width: 15px !important;
        color: #fff;
    }
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
    width: 18px !important;
    border-radius: 5px !important;


}



.featureItem {
    position: relative !important;
    overflow: hidden;
}

.featureItem::before {
    content: "";
    position: absolute;
    background-color: #E77D05;
    width: 90px;
    height: 70%;
    border-radius: 60% 40% 70% 30% / 40% 60% 40% 60%;
    right: -29px;
    bottom: -17px;
}